<%= turbo_frame_tag "room_form" do %>
<h4 class="font-medium text-base text-white text-center">Create New Room</h4>
  <section class="flex flex-col items-center justify-center gap-2 mb-5">
  <h3 class="text-white font-semibold text-sm text-center">Want to start a new conversartion</h3>
  <%= link_to new_room_path, id:"new_room", class:"px-3 py-1 bg-green-700 text-white font-semibold text-sm" do %>
    Create new
  <% end %>

  </section>
<% end %>
